span {
    font-style: italic;
font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(151, 159, 231);
    color:rgb(234, 223, 223)
}
 img {
          transform: scale(0.2);
          position: fixed
        }